<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">MOVIEHUB-USING TMDB</h5>
    <p class="card-text">I want to mention that this project has been an incredible learning experience for me. As I
      worked with the TMDB API, I gained a deeper understanding of RESTful APIs and HTTP requests. I also learned how to
      work with Angular components, services, and routing to create a seamless user experience. Throughout the project,
      I encountered challenges and obstacles that forced me to develop my problem-solving skills and learn new
      techniques. Overall, this project has been a valuable opportunity for me to grow as a developer and expand my
      skillset. <br>
      <span>
        If you have any questions or comments about my project, I would love to hear from you! Whether you have
        feedback,
        suggestions, or just want to say hello, please don't hesitate to get in touch.
      </span>
    </p>
    <a href="mailto:sonusureshofficial8@gmail.com?subject=Thanks For Reaching Me !!!!!!">Send Email</a>
  </div>
  <div class="card-footer">
    <a href="https://github.com/sonu908"> <button style="border: 0; background-color: transparent; color: aquamarine;" >github</button></a>
  </div>
</div>
