<nav class="navbar">
  <div class="container-fluid"  style="border-bottom: 1px solid turquoise;">
    <a routerLink="" class="navbar-brand">MOVIE<span style="margin-left: 8px;">HUB</span></a>
    <form [formGroup]="searchform" (ngSubmit)="submitform()" class="d-flex" role="search">
      <input formControlName="moviename" class="form-control me-2" type="search" placeholder="Search For Movies..."
        aria-label="Search">
      <button class="btn btn-outline-success" type="submit">search</button>
    </form>
  </div>
</nav>


<div class="container-fluid">

  <div class="row">
    <div class="card text-bg-dark" *ngFor="let film of movie_search_result">
      <h5 class="card-title"> {{film.title}}{{film.name}}</h5>

      <div class="card-top">
        <img routerLink="details/{{film.id}}" src="{{image_prefix}}{{film.poster_path}} " class="card-img" alt="...">

        <p class="card__title"></p>

      </div>
      <div class="card__info">
        <p class="episode__type">Fantasy</p>
      </div>
      <div class="card__btns">
        <button class="add-btn">{{film.vote_average}}</button>
        <button  class="watch-btn">Know More</button>
      </div>
    </div>
  </div>
</div>
