body {
  overflow: hidden;
}
.heading {
  letter-spacing: 8px;
  font-size: 40px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: turquoise;
  font-family: "Bebas Neue", cursive;
}
.heading:hover {
  translate: 6px;
}

.card {
  --width: 300px;
  --max-height: 400px;
  --primary: #00b9ae;
  --text: #f9f9f9b2;
  --secondary: #f9f9f933;
  --radius: 20px;
  margin-top: 40px;
  transition: all 0.5s ease;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  width: var(--width);
  height: var(--height);
  background-size: cover;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1em;
  padding-top: 1.4em;
}

.card:hover {
  transition: all 0.5s ease;
  box-shadow: rgba(0, 185, 173, 0.553) 0px 2px 4px 0px, rgba(0, 185, 173, 0.553) 0px 2px 16px 0px;
}

/*  */

.card .card__title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.2rem;
}
.card .card__info {
  display: flex;
  margin-top: auto;
  font-size: 0.8rem;
  color: var(--text);
  font-weight: 400;
  justify-content: space-between;
}

.card .card__btns {
  display: flex;
  gap: 0.6rem;
}

.card button {
  border: none;
  background: none;
  cursor: pointer;
  background: var(--primary);
  color: #fff;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s;
}

.card button:hover {
  opacity: 0.8;
  transform: scale(0.9);
}

.card .add-btn {
  color: #fff;
  padding: 0.5em 0.8em;
  background: rgba(249, 249, 249, 0.2);
  border-radius: 14px;
}

.card .watch-btn {
  flex: 1;
}
.row {
  justify-content: space-evenly;
  overflow: hidden;
}

.rowposter {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.must_watch {
  margin-top: 110px;
}
.must_watch h1 {
  margin-left: 60px;
}

.must_card {
  background-color: transparent;
  width: 200px;
  border: 0;
  margin-top: 30px;
  transition: all 300ms;
  opacity: 0.8;
}
.rowposter .rowimage {
  padding: 2%;
  max-height: 300px;
  object-fit: contain;
  transition: transform 400ms;
}

.rowposter:hover {
  opacity: 1;
}

.rowposter::-webkit-scrollbar {
  visibility: hidden;
}
.rowimage:hover {
  transform: scale(1.1);
}

